{% extends "base.html" %}
{% block content %}
<!-- todos container with ajax data load -->
<div id="todos-container" class="grid grid-cols-2 gap-4">
  <!-- {% for i in range(3) %}
          <div class="card bg-white rounded shadow p-4">
              <h2 class="text-xl font-bold">Todo Title {{ i+1 }}</h2>
              <p class="mt-2">Todo description...</p>
          </div>
          {% endfor %} -->
</div>

<!-- a div to hold pagination buttons -->
<div class="flex justify-center mt-10">
  <button
    id="prev"
    type="button"
    class="text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-md text-base p-2 text-center inline-flex items-center me-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:focus:ring-gray-800 dark:hover:bg-gray-500"
  >
    <svg
      class="w-4 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        fill-rule="evenodd"
        d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
        clip-rule="evenodd"
      />
    </svg>
    <span class="sr-only">Previous</span>
  </button>
  <button
    id="next"
    type="button"
    class="text-gray-700 border border-gray-700 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-md text-base p-2 text-center inline-flex items-center me-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:focus:ring-gray-800 dark:hover:bg-gray-500"
  >
    <svg
      class="w-4 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        fill-rule="evenodd"
        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
    <span class="sr-only">Next</span>
  </button>
</div>

<!-- <button id="prev">Previous</button> -->
<!-- <button id="next">Next</button> -->
<!-- <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Previous</button> -->
<!-- <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Next</button> -->
{% endblock %}
